.img-product {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    max-height:750px;
}
@media(min-width: 768px) {
    .img-product {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        min-height: 500px;
        min-width: 500px;
    }
}

.teste-container {
    width: 80%; /* Ocupa toda a largura do elemento pai */
    max-width: 80%; /* Define uma largura máxima para o contêiner */
    height: 100%; /* Altura fixa para manter proporção */
    border: 2px dotted white;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    overflow: hidden; /* Esconde qualquer parte da imagem que exceder o contêiner */
}



.gradient-border {
    background: linear-gradient(160deg, orange, black); /* Gradiente da borda */
    padding: 4px; /* Largura da borda */
    border-radius: 15px; /* Aplica o border-radius ao contêiner externo */
}
