@{
    ViewBag.Title = "Help Center";
}
<main class="helpCenter m-auto w-100 d-flex  align-items-center justify-content-center" style="min-height: 90vh;">
    
    <div class="w-100 accordion accordion-flush" id="accordionFlushExample">
        <h3 class=" text-light">Categories</h3>
        <div class=" text-center">
            <div class="row g-2">
              
                <div class="col-6">
                    <div class="p-3 border bg-light">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z" />
                            </svg>
                            Account
                    </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3 border bg-light">
                        <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                            <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                            <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415" />
                            </svg> Security
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3 border bg-light">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
                                <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A5 5 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A5 5 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623M4 7v4a4 4 0 0 0 3.5 3.97V7zm4.5 0v7.97A4 4 0 0 0 12 11V7zM12 6a4 4 0 0 0-1.334-2.982A3.98 3.98 0 0 0 8 2a3.98 3.98 0 0 0-2.667 1.018A4 4 0 0 0 4 6z" />
                            </svg> Problems
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class=" text-light">FAQ</h3>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    [My Account] How do I update my password?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-black">
                    You can edit your password through the <code>Zamdau</code>. There are 2 ways to resolve this issue depending on your login status:<br /><br />

                    <ol>
                        <li>I am logged into my <code>Zamdau</code> account</li>
                        <li>I'm not logged into my <code>Zamdau</code> account</li>
                    </ol>

                    
                    


                    1. I am logged into my <code>Zamdau</code>  account <br /><br />
                    If you can access your <code>Zamdau</code> account, you can edit your password by opening the <code>Zamdau</code> > go to the [Your name] tab in the top left corner of the screen > select Account Settings > select My Profile > select Password > select Edit > edit your password > complete verification via email sent to you.
                    class. This is the first item's accordion body.<br /><br />

                    2. I'm not logged into my <code>Zamdau</code> account<br /><br />
                    If you can't access your <code>Zamdau</code> account for reasons like losing your password, you can edit your password with these steps: Go to the Sign In > select <strong>Forgot password?</strong> > insert your email and check "I'm not robot" > in your email click on the link sent to you and alter you password > Submit.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    [Account Security] What happens if I place an order and the seller's account is banned?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-black">
                    If you made a purchase on our platform, and after placing the order, you received notification that the seller has a limited/banned account, it is because after your order, the seller engaged in some conduct that violated our terms of use and conditions. . And this action is taken to offer a safer platform to our users.<br /><br />
                    But don't worry, your purchase will be automatically canceled and your order amount will be refunded.<br /><br />
                    For more information about the return deadline, we ask that you access the link: <a href="#">[Return and Refund]</a> <br />
                    <a href="#"> What is the deadline to receive my refund?</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    [Account Security] How do I detect a scam?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-black">
                    The vast majority of scams are carried out by bad actors who try to impersonate  <code>Zamdau</code> employees and pretend to guarantee their own safety or try to gain some advantage through transactions on our platforms. <br /><br />

                    <h4>Detecting scams</h4> <br />
                    <p>Scams are usually identified by:</p>

                    <ol>
                        <li>Seller requests for off-platform payments.</li>
                        <li>Unofficial Shopee links that request sensitive account data, for example, two-step verification code (OTPs) or account passwords.</li>
                        <li>Spelling and grammar errors.</li>
                    </ol>
                    One of the most common ways used by bad people to obtain advantages is to inform you of any possible fluctuations on the platform related to your order or, even, to inform you that the shipping cost must be paid in another way, however, outside from the <code>Zamdau</code>  app.
                </div>
            </div>
        </div>
    </div>
</main>