
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            // Aqui você pode fazer outras verificações antes de enviar o formulário
            document.getElementById("meuFormulario").submit();
        }
    </script>

<body>
    <form id="meuFormulario" asp-action="ProcessarFormulario" asp-controller="Testes" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" required></textarea>

        <!-- Botão do reCAPTCHA -->
        <button class="g-recaptcha"
                data-sitekey="6LefNBkqAAAAAPsqXAq45IPVH0Sb-b6g4TErxA-O"
                data-callback="onSubmit">
            Enviar
        </button>
    </form>
</body>

