@model Rcsp.Models.SignIn
@{
    ViewBag.Title = "Login";
}



<main class="form-signin m-auto w-100 d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="w-100" style="max-width: 330px;">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            <div style="text-align:center">
                <img class="mb-3 align-t" src="~/images/logoBird.png" alt="" width="80" height="80">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            </div>
            <div class="p-1">

                <div class="form-floating">
                    @Html.TextBoxFor(email => email.Login, new { @type = "email", @style = "border-radius:5px", @id = "floatingInput", @class = "form-control", @placeholder = "Email address", @autocomplete = "email" })
                    <label for="floatingInput" class="text-dark opacity-50" style="font-size:15px">Email address</label>
                </div>
            </div>
            <div class="p-1">
                <div class="form-floating">
                    @Html.PasswordFor(pwd => pwd.Password, new { @type = "password", @class = "form-control", @id = "floatingPassword", @placeholder = "Password", @autocomplete = "current-password" })
                    <label for="floatingPassword" class="text-dark opacity-50" style="font-size:15px">Password</label>
                </div>
            </div>
            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-0" type="submit">Sign in</button>
            <a class="btn btn-dark w-100 py-0 mt-1" asp-action="SignUp">Sign up</a>
            <a class="" asp-action="PasswordReset">Forgot password?</a>
        }
    </div>
</main>

