@model Rcsp.Models.ResetPWD
@{
    ViewBag.Title = "Password recovery";
}


<main class="form-signin m-auto w-100  d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="w-100 m-auto width-max-min">
        @using (Html.BeginForm("Submit", "User", FormMethod.Post))
        {
            <div style="text-align:center">
                <img class="mb-3 align-t" src="~/images/logoBird.png" alt="" width="80" height="80">
            </div>
            <div>
                <h6>Enter your user account's verified email address and we will send you a password reset link.</h6>
            </div>
            <div class="p-1 ">
                <div class="">
                    @Html.TextBoxFor(email => email.Email, new { @type = "email", @style = "border-radius:5px", @id = "floatingInput", @class = "form-control", @placeholder = "Your email address", @autocomplete = "email" })
                </div>        
            </div>
           
                <div class="g-recaptcha " data-sitekey="6LedYBoqAAAAABbS9zzFJeAPdlv6ygdo2nm1bx_g" data-action="SendMail"></div>
               
           
            <div>
                <span class="text-danger">@Model.Error</span>
            </div>
            <button type="submit" class="btn-custom btn-outline-orange mt-2 mb-2 float-end m-2 ">Enviar </button>
        }
       
    </div>
</main>

   

<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
