@{
    ViewBag.Title = "Be seller";
}

<title>Quer ser Vendedor</title>


<div class="hero-section1">
    <h1>Want to Be a Seller?</h1>
    <p>Join our marketplace and start selling your products to thousands of customers.</p>

</div>

<div class="info-section">
    <h2>Why Sell with Us?</h2>
    <p>We offer a complete, secure, and accessible platform for you to grow your business. Check out some of the benefits below.</p>


    <div class="benefits-list text-dark">
        <div class="benefit-card">
            <div class="benefit-icon">&#128176;</div>
            <h4>High Visibility</h4>
            <p>Reach more customers with our large user base.</p>
        </div>
        <div class="benefit-card">
            <div class="benefit-icon">&#128200;</div>
            <h4>Marketing Tools</h4>
            <p>Boost your sales with our campaigns and promotions.</p>
        </div>
        <div class="benefit-card">
            <div class="benefit-icon">&#128176;</div>
            <h4>Secure Payments</h4>
            <p>Receive payments quickly and securely.</p>
        </div>
        <div class="benefit-card">
            <div class="benefit-icon">&#128722;</div>
            <h4>Seller Support</h4>
            <p>Count on our team for support and guidance.</p>
        </div>
    </div>


</div>
<div class="align-text-center">
    <a asp-action="RegisterSeller" asp-controller="Seller"  class="btn-register bg-orange">Sign Up Now</a> 
</div>


