@model List<Product>


<form id="filterForm" method="get" class="d-flex flex-wrap align-items-center gap-2 m-3 rounded ">
    <!-- Product Name Filter -->
    <div class="flex-fill" style="min-width: 200px;">
        <label for="productName" class="form-label">Product Name</label>
        <input type="text" id="productName" name="productName" class="form-control" onkeyup="applyFilters()" placeholder="Enter the product name" autocomplete="off">
    </div>

    <!-- Brand Filter -->
    <div class="flex-fill" style="min-width: 200px;">
        <label for="brand" class="form-label">Brand</label>
        <select id="brand" name="brand" class="form-select" onchange="applyFilters()">
            <option value="">Select a brand</option>
            @foreach (var i in ViewBag.Brands)
            {
                <option value="@i">@i</option>
            }
            
        </select>
    </div>

    <!-- Price Range Filter -->
    <div class="flex-fill" style="min-width: 200px;">
        <label for="priceRange" class="form-label">Price Range</label>
        <select id="priceRange" name="priceRange" class="form-select" onchange="applyFilters()">
            <option value="">Select a price range</option>
            <option value="0-50">$ 0 - $ 50</option>
            <option value="51-100">$ 51 - $ 100</option>
            <option value="101-200">$ 101 - $ 200</option>
            <option value="200+">$ 200+</option>
        </select>
    </div>
</form>



<div id="productList">
    @await Html.PartialAsync("_ProductList", Model)
</div>


<script>

    function applyFilters() {
        // Serializa o formulário e envia a requisição AJAX
        const formData = $("#filterForm").serialize();

        $.ajax({
            url: '/Product/Filtrar', // Rota para a Action que processa os filtros
            type: 'GET',
            data: formData,
            success: function (result) {
                // Atualiza a área de produtos com o HTML retornado
                $("#productList").html(result);
            }
        });

    }
</script>