@{
    ViewData["Title"] = "Validate your email";
}

<main class="form-signin m-auto w-100  d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="w-100 container m-auto border-2 border-rounded-20 border width-max-min">

        <p>Check your email for a link to validate your email, if it doesn't appear within a few minutes, check your spam folder</p>
        <div style="text-align:center" class="mb-2">
            <a class="btn-custom btn-orange " asp-action="Login" asp-controller="Buyer">OK</a>
        </div>
    </div>
</main>
